.LanguageBounds {
  margin-left: 3px;
  margin-bottom: 1rem;
}

.Language {
  width: 80%;
}

.BoundsInput {
  display: inline-block;
  width: 8rem;
  margin: 12px;
}

.Progress {
  width: 95%;
  height: 12px;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.Blurred {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  font-weight: bold;
}
