body {
  background-color: lightgray;
  margin: 0;
  padding: 0;
}

.Root {
  margin: 20px;
  width: 100%;
}

.LanguageBounds {
  margin-left: 12px;
}

.Language {
  width: 80%;
}

.BoundsInput {
  display: inline-block;
  width: 8rem;
  margin: 12px;
}
