html,
body {
  font-family: "Montserrat", sans-serif;
  /*
  background-color: grey;
  color: whitesmoke;
  */
  font-size: 1.05rem;
  margin: 0;
  padding: 0;
}

.Root {
  width: 100%;
}

.Content {
  margin-right: 50px;
  margin-left: 50px;
}
